BODY { 
background: rgb(61, 61, 61);
}

h1 {font-family: 'Press Start 2P';
  color: rgb(251, 255, 0);}

.neon {
	text-shadow:
		0 0 5px rgb(238, 255, 0),
		0 0 10px rgb(238, 255, 0),
		0 0 180px rgb(75, 115, 129);
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 166px;
  height: 166px;
  border: 1px solid white;
  background: url(imagenes/lebron.jpg); 
  cursor: pointer;
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}


.button {
  position: relative;
  margin: 0 auto;
  width: 42.4em;
  padding-top: 2em;
  padding: 2em;
  width: 10em;
  text-align: center;
  font-family: 'Press Start 2P';
}

#start{background-color: #fbff00; 
      border: thin solid #fbff00;
      width: 17em;
      height: 6em;}